Repository ejeschke/ginga, pull requests merged in 2018-08, with the labels that each got.

#642 Add convenience functions for working with astropy NDData objects
  doc/ref_api.rst
  ginga/AstroImage.py
  ginga/tests/test_aimg.py
  ginga/util/wcsmod/__init__.py
  ginga/util/wcsmod/wcs_astropy.py
Labels: enhancement, needs testing

#639 Profile support
  ginga/Bindings.py
  ginga/ImageView.py
  ginga/RGBMap.py
  ginga/canvas/types/utils.py
  ginga/misc/Callback.py
  ginga/misc/Settings.py
  ginga/rv/Channel.py
  ginga/rv/Control.py
  ginga/rv/plugins/Pick.py
  ginga/rv/plugins/Preferences.py
  ginga/rv/plugins/WCSMatch.py
Labels: enhancement

#688 Fix writing out RGB as PNG with aggdraw
  ginga/canvas/render.py
Labels: bug

#686 Enhancements for the PixTable plugin
  ginga/examples/configs/plugin_PixTable.cfg
  ginga/rv/plugins/PixTable.py
Labels: enhancement, plugin, reference viewer

#689 Fix for github issue #257
  ginga/qtw/Widgets.py
Labels: needs testing, reference viewer

#690 Fix table header error msg
  ginga/table/AstroTable.py
Labels: bug
