Repository ejeschke/ginga, pull requests merged in 2019-03, with the labels that each got.

#757 Change LineProfile Y-axis label default
  doc/WhatsNew.rst
  ginga/rv/plugins/LineProfile.py
Labels: plugin

#745 Simplify the code for some plugins and add multiple open/close
  doc/WhatsNew.rst
  ginga/examples/configs/general.cfg
  ginga/examples/configs/plugin_Contents.cfg
  ginga/examples/configs/plugin_Cursor.cfg
  ginga/examples/configs/plugin_Errors.cfg
  ginga/examples/configs/plugin_Info.cfg
  ginga/examples/configs/plugin_Pan.cfg
  ginga/examples/configs/plugin_Thumbs.cfg
  ginga/gw/Desktop.py
  ginga/gw/PluginManager.py
  ginga/rv/Control.py
  ginga/rv/main.py
  ginga/rv/plugins/Colorbar.py
  ginga/rv/plugins/Contents.py
  ginga/rv/plugins/Cursor.py
  ginga/rv/plugins/Errors.py
  ginga/rv/plugins/Header.py
  ginga/rv/plugins/Info.py
  ginga/rv/plugins/Log.py
  ginga/rv/plugins/Pan.py
  ginga/rv/plugins/Thumbs.py
Labels: plugin, reference viewer

#742 Loading with FITS "wildcard" indexes
  doc/WhatsNew.rst
  doc/manual/plugins.rst
  doc/manual/plugins_global/downloads.rst
  doc/manual/plugins_global/figures/downloads-plugin.png
  ginga/examples/configs/general.cfg
  ginga/examples/configs/plugin_Downloads.cfg
  ginga/gtk3w/GtkHelp.py
  ginga/gtkw/GtkHelp.py
  ginga/qtw/QtHelp.py
  ginga/rv/Control.py
  ginga/rv/main.py
  ginga/rv/plugins/Command.py
  ginga/rv/plugins/Downloads.py
  ginga/rv/plugins/FBrowser.py
  ginga/rv/plugins/MultiDim.py
  ginga/rv/plugins/SAMP.py
  ginga/rv/plugins/TVMark.py
  ginga/rv/plugins/TVMask.py
  ginga/rv/plugins/Thumbs.py
  ginga/util/io_asdf.py
  ginga/util/io_fits.py
  ginga/util/io_rgb.py
  ginga/util/iohelper.py
  ginga/util/loader.py
Labels: enhancement, needs testing, reference viewer
