Repository ejeschke/ginga, pull requests merged in 2019-08, with the labels that each got.

#788 Use xenial for Travis CI
  .travis.yml
Labels: maintenance

#794 Protections against possible problems from numpy 1.17.0 clip()
  ginga/ColorDist.py
  ginga/RGBMap.py
  ginga/tests/test_colordist.py
  ginga/trcalc.py
  ginga/util/iqcalc.py
Labels: maintenance

#790 Refactor the way viewers initialize renderer
  ginga/ImageView.py
  ginga/aggw/CanvasRenderAgg.py
  ginga/aggw/ImageViewAgg.py
  ginga/cairow/ImageViewCairo.py
  ginga/cvw/CanvasRenderCv.py
  ginga/cvw/ImageViewCv.py
  ginga/gtk3w/ImageViewGtk.py
  ginga/pilw/CanvasRenderPil.py
  ginga/pilw/ImageViewPil.py
  ginga/tkw/ImageViewTk.py
  ginga/web/jupyterw/ImageViewJpw.py
  ginga/web/pgw/ImageViewPg.py
Labels: maintenance, needs testing, widget

#798 TST: Use RTD PR builder
  .readthedocs.yml
  .travis.yml
  doc/conf.py
  readthedocs.yml
Labels: documentation

#799 DOC: Fix ico mimetype warning
  doc/conf.py
Labels: documentation
