Repository ejeschke/ginga, pull requests merged in 2019-01, with the labels that each got.

#649 Enhance loader functionality
  ginga/RGBImage.py
  ginga/examples/bokeh/example1.py
  ginga/examples/bokeh/example2.py
  ginga/examples/gl/example2_qt.py
  ginga/examples/gtk/example1_gtk.py
  ginga/examples/gtk/example2_gtk.py
  ginga/examples/gtk/fits2pdf.py
  ginga/examples/gtk3/example1.py
  ginga/examples/gtk3/example2.py
  ginga/examples/gw/example2.py
  ginga/examples/gw/shared_canvas.py
  ginga/examples/matplotlib/example1_mpl.py
  ginga/examples/matplotlib/example2_mpl.py
  ginga/examples/matplotlib/example3_mpl.py
  ginga/examples/matplotlib/example4_mpl.py
  ginga/examples/matplotlib/example5_mpl.py
  ginga/examples/pg/example2_pg.py
  ginga/examples/qt/example1_qt.py
  ginga/examples/qt/example2_qt.py
  ginga/examples/tk/example1_tk.py
  ginga/examples/tk/example2_tk.py
  ginga/rv/Channel.py
  ginga/rv/Control.py
  ginga/rv/plugins/Mosaic.py
  ginga/rv/plugins/MultiDim.py
  ginga/util/io_fits.py
  ginga/util/io_rgb.py
  ginga/util/loader.py
Labels: enhancement, needs testing

#726 Modify Pick plugin to be able to recenter shape on found object
  doc/WhatsNew.rst
  doc/manual/plugins_local/figures/pick-readout.png
  doc/manual/plugins_local/figures/pick-sc1.png
  ginga/examples/configs/plugin_Pick.cfg
  ginga/rv/plugins/Pick.py
Labels: enhancement, plugin, reference viewer

#731 Fix wcspt_to_datapt bug for astropy_ape14
  ginga/canvas/types/astro.py
  ginga/util/wcsmod/wcs_astropy_ape14.py
Labels: affects-dev, bug

#728 BUG: Fix FBrowser drag-and-drop on Windows
  doc/WhatsNew.rst
  ginga/rv/plugins/FBrowser.py
  ginga/tests/test_iohelper.py
  ginga/util/iohelper.py
Labels: bug, plugin

#736 Add astropy_ape14 to config example
  ginga/examples/configs/general.cfg
Labels: documentation

#732 MNT: Remove empty plugins directories
  ginga/gtk3w/plugins/__init__.py
  ginga/gtkw/plugins/__init__.py
  ginga/qtw/plugins/__init__.py
Labels: plugin

#735 ENH: Enable HDU sorting in MultiDim
  doc/WhatsNew.rst
  ginga/examples/configs/plugin_MultiDim.cfg
  ginga/rv/plugins/MultiDim.py
Labels: enhancement, plugin, reference viewer

#737 Add buttons to Toolbar plugin
  ginga/icons/layers_48.png
  ginga/icons/microscope_48.png
  ginga/icons/tags_48.png
  ginga/rv/plugins/Toolbar.py
Labels: enhancement, plugin, reference viewer

#739 Consolidate pip dependencies between doc and setup
  doc/WhatsNew.rst
  doc/conf.py
  doc/install.rst
  doc/rtd-pip-requirements
  ginga/__init__.py
  readthedocs.yml
  setup.cfg
  setup.py
Labels: documentation, enhancement
