Repository ejeschke/ginga, pull requests merged in 2019-07, with the labels that each got.

#778 MNT: Get rid of helpers deprecation warnings
  setup.py
Labels: maintenance

#773 Change use of optparse to argparse
  ginga/examples/bokeh/example2.py
  ginga/examples/gl/example2_qt.py
  ginga/examples/gtk/example2_gtk.py
  ginga/examples/gtk3/example2.py
  ginga/examples/gw/example1_video.py
  ginga/examples/gw/example2.py
  ginga/examples/gw/shared_canvas.py
  ginga/examples/matplotlib/example1_mpl.py
  ginga/examples/matplotlib/example2_mpl.py
  ginga/examples/matplotlib/example3_mpl.py
  ginga/examples/pg/example2_pg.py
  ginga/examples/qt/example2_qt.py
  ginga/examples/qt/example_asdf.py
  ginga/examples/tk/example2_tk.py
  ginga/misc/grc.py
  ginga/rv/main.py
  ginga/util/mosaic.py
  ginga/web/pgw/ipg.py
Labels: maintenance

#775 Add splitter to PlotTable plugin, similar to other plugins with plots
  doc/manual/plugins_local/figures/plottable-plugin.png
  doc/manual/plugins_local/plottable.rst
  ginga/rv/plugins/PlotTable.py
Labels: enhancement, reference viewer

#779 Add statistics calculation to Histogram plugin
  doc/WhatsNew.rst
  doc/manual/plugins_local/figures/histogram-plugin.png
  ginga/examples/configs/plugin_Histogram.cfg
  ginga/rv/plugins/Histogram.py
Labels: enhancement, plugin, reference viewer

#783 Remove Gtk 2 support
  doc/FAQ.rst
  doc/WhatsNew.rst
  doc/dev_manual/viewer.rst
  doc/install.rst
  ginga/examples/configs/general.cfg
  ginga/examples/gtk/example1_gtk.py
  ginga/examples/gtk/example2_gtk.py
  ginga/examples/gtk/fits2pdf.py
  ginga/gtkw/GtkHelp.py
  ginga/gtkw/ImageViewCanvasGtk.py
  ginga/gtkw/ImageViewCanvasTypesGtk.py
  ginga/gtkw/ImageViewGtk.py
  ginga/gtkw/Plot.py
  ginga/gtkw/Viewers.py
  ginga/gtkw/Widgets.py
  ginga/gtkw/__init__.py
  ginga/gtkw/gtk_rc
  ginga/gtkw/setup_package.py
  ginga/gtkw/tests/__init__.py
  ginga/gtkw/tests/cbar.py
  ginga/gw/GwHelp.py
  ginga/gw/Viewers.py
  ginga/gw/Widgets.py
  ginga/toolkit.py
Labels: maintenance

#781 EXP: Support JWST ASDF-in-FITS in reference viewer
  ginga/util/io_asdf.py
  ginga/util/wcsmod/wcs_astropy_ape14.py
Labels: enhancement

#784 TST: Move Windows build from Appveyor to Travis
  .travis.yml
  README.md
  appveyor.yml
Labels: maintenance
