Repository ejeschke/ginga, pull requests merged in 2020-09, with the labels that each got.

#891 MNT: Remove deprecated mpl usage
  ginga/cmap.py
Labels: maintenance

#893 DOC: Pin setuptools for RTD
  .readthedocs.yml
Labels: documentation

#880 New iqcalc_astropy module to use astropy to fit FWHM
  doc/WhatsNew.rst
  doc/ref_api.rst
  ginga/examples/configs/plugin_Pick.cfg
  ginga/rv/plugins/Pick.py
  ginga/tests/test_iqcalc.py
  ginga/util/iqcalc.py
  ginga/util/iqcalc_astropy.py
  ginga/util/plots.py
Labels: enhancement

#899 Add bicubic and bilinear interpolation methods to OpenGL backend
  doc/WhatsNew.rst
  ginga/opengl/CanvasRenderGL.py
  ginga/opengl/glsl/image.frag
Labels: enhancement, widget

#896 Incorporate photutils into iqcalc_astropy and Pick
  .github/workflows/ci_workflows.yml
  doc/WhatsNew.rst
  ginga/tests/test_iqcalc.py
  ginga/util/iqcalc.py
  ginga/util/iqcalc_astropy.py
  setup.cfg
Labels: enhancement
