Repository ejeschke/ginga, pull requests merged in 2020-07, with the labels that each got.

#847 Fix for problem with PixTable plugin when used with Zoom
  ginga/rv/plugins/PixTable.py
Labels: bug, needs testing, reference viewer

#851 Make get_oriented_box() return more sane results
  ginga/gw/Widgets.py
  ginga/rv/plugins/MultiDim.py
Labels: enhancement, reference viewer

#852 Remove cursor-changed callback from canvases (fix #848)
  doc/WhatsNew.rst
  ginga/canvas/DrawingMixin.py
Labels: bug, widget

#854 Fixed a bug where Annulus objects could not be moved
  ginga/canvas/types/astro.py
Labels: bug

#856 Fix WCSAxes (fix #855)
  ginga/ImageView.py
  ginga/canvas/render.py
  ginga/canvas/types/astro.py
Labels: bug, plugin

#860 Downgrade channel_Image.cfg not found from warning to info
  ginga/rv/Control.py
Labels: reference viewer

#861 Fix Qt/PySide help crash
  doc/WhatsNew.rst
  ginga/gtk3w/Widgets.py
  ginga/qtw/Widgets.py
Labels: bug, reference viewer

#863 Expand user dir for basedir
  ginga/rv/main.py
Labels: enhancement, reference viewer

#866 Eliminate warning message when layout file does not exist
  ginga/gw/Desktop.py
Labels: reference viewer

#864 Ignore icon thumbnail
  .gitignore
Labels: maintenance, reference viewer

#869 Fix numpy deprecation warnings with numpy 1.19.0
  doc/WhatsNew.rst
  ginga/BaseImage.py
  ginga/canvas/types/mixins.py
  ginga/util/iqcalc.py
  ginga/util/plots.py
  ginga/util/vip.py
Labels: maintenance

#862 Do more sophisticated parsing of config files
  ginga/misc/Settings.py
Labels: enhancement, needs testing, reference viewer, widget

#873 Ginga will remember sizes and placement of windows in MDI workspaces
  ginga/gtk3w/GtkHelp.py
  ginga/gtk3w/Widgets.py
  ginga/gw/Desktop.py
  ginga/qtw/Widgets.py
Labels: enhancement, reference viewer
