Repository ejeschke/ginga, pull requests merged in 2020-08, with the labels that each got.

#872 TST: Use GitHub Actions
  .github/workflows/ci_workflows.yml
  .travis.yml
  README.md
  conftest.py
  ginga/colors.py
  setup.cfg
Labels: enhancement

#875 Add copy() method to canvas objects
  ginga/canvas/CanvasObject.py
  ginga/canvas/CompoundMixin.py
  ginga/rv/plugins/Drawing.py
  ginga/tests/test_canvas.py
Labels: enhancement, needs testing, widget

#874 ENH: Add copy cut feature
  doc/WhatsNew.rst
  doc/manual/plugins_local/cuts.rst
  doc/manual/plugins_local/figures/cuts-plugin.jpg
  doc/manual/plugins_local/figures/cuts-plugin.png
  ginga/rv/plugins/Cuts.py
  setup.cfg
Labels: enhancement, plugin

#878 MNT: Compatibility with astropy.coordinates
  .github/workflows/ci_workflows.yml
  ginga/util/wcsmod/common.py
  ginga/util/wcsmod/wcs_astropy.py
  ginga/util/wcsmod/wcs_astropy_ape14.py
  setup.cfg
Labels: maintenance

#881 Fix test failing due to missing scipy
  .github/workflows/ci_workflows.yml
  ginga/tests/test_iqcalc.py
Labels: bug, maintenance

#886 MNT: Drop Python 3.5 and 3.6
  .github/workflows/ci_workflows.yml
  doc/FAQ.rst
  doc/WhatsNew.rst
  doc/install.rst
  ginga/misc/ModuleManager.py
  setup.cfg
Labels: maintenance

#876 TST: Add security audit job
  .bandit.yaml
  .github/workflows/ci_workflows.yml
  ginga/doc/download_doc.py
  ginga/gtk3w/GtkHelp.py
  ginga/util/catalog.py
  ginga/util/grc.py
  ginga/util/heaptimer.py
  ginga/util/iohelper.py
  ginga/util/rgb_cms.py
  ginga/util/videosink.py
  ginga/web/jupyterw/JpHelp.py
  ginga/web/pgw/PgHelp.py
Labels: enhancement

#888 Remove support for matplotlib < 2.0
  doc/WhatsNew.rst
  ginga/gw/PlotView.py
  ginga/rv/plugins/Cuts.py
  ginga/rv/plugins/Pick.py
  ginga/util/plots.py
  setup.cfg
Labels: maintenance

#882 TST: Verbose pytest and use capsys
  .github/workflows/ci_workflows.yml
  ginga/misc/tests/test_Callback.py
Labels: maintenance

#887 Change FWHM plot colors, add to colors.py functionality
  doc/ref_api.rst
  ginga/colors.py
  ginga/tests/test_colors.py
  ginga/util/plots.py
Labels: enhancement, plugin
