Repository ejeschke/ginga, pull requests merged in 2021-02, with the labels that each got.

#928 MNT: Use float instead of np.float, int instead of np.int
  ginga/Bindings.py
  ginga/ColorDist.py
  ginga/canvas/CanvasObject.py
  ginga/canvas/transform.py
  ginga/canvas/types/astro.py
  ginga/canvas/types/basic.py
  ginga/canvas/types/image.py
  ginga/canvas/types/mixins.py
  ginga/cmap.py
  ginga/rv/plugins/RC.py
  ginga/tests/test_colordist.py
  ginga/tests/test_trcalc.py
  ginga/trcalc.py
  ginga/util/iqcalc.py
  ginga/util/vip.py
  ginga/util/zscale.py
Labels: plugin, reference viewer

#929 Add orientation setting to all plugins that are orientable
  doc/WhatsNew.rst
  ginga/gw/Widgets.py
  ginga/rv/plugins/Blink.py
  ginga/rv/plugins/ChangeHistory.py
  ginga/rv/plugins/Collage.py
  ginga/rv/plugins/Crosshair.py
  ginga/rv/plugins/Drawing.py
  ginga/rv/plugins/Histogram.py
  ginga/rv/plugins/LineProfile.py
  ginga/rv/plugins/Mosaic.py
  ginga/rv/plugins/MultiDim.py
  ginga/rv/plugins/Overlays.py
  ginga/rv/plugins/Pick.py
  ginga/rv/plugins/PixTable.py
  ginga/rv/plugins/PlotTable.py
  ginga/rv/plugins/Preferences.py
  ginga/rv/plugins/Ruler.py
  ginga/rv/plugins/SaveImage.py
  ginga/rv/plugins/TVMark.py
  ginga/rv/plugins/TVMask.py
  ginga/rv/plugins/Toolbar.py
  ginga/rv/plugins/WCSAxes.py
  ginga/rv/plugins/WCSMatch.py
  ginga/rv/plugins/Zoom.py
Labels: enhancement, plugin, reference viewer

#931 TST: Use latest Python for dev tests
  .github/workflows/ci_workflows.yml
Labels: maintenance

#932 TST: Stop ignoring warnings
  setup.cfg
Labels: maintenance

#930 MNT: Replace fromstring with frombuffer, bump numpy minversion
  doc/install.rst
  ginga/AstroImage.py
  ginga/aggw/CanvasRenderAgg.py
  ginga/pilw/CanvasRenderPil.py
  ginga/pilw/PilHelp.py
  setup.cfg
Labels: maintenance, widget

#934 Fixes to get experimental Bokeh backend working again
  ginga/examples/bokeh/example1.py
  ginga/examples/bokeh/example2.py
  ginga/web/bokehw/BokehHelp.py
  ginga/web/bokehw/CanvasRenderBokeh.py
  ginga/web/bokehw/ImageViewBokeh.py
Labels: widget
