Repository ejeschke/ginga, pull requests merged in 2021-06, with the labels that each got.

#962 TST: Update CI workflow
  .github/workflows/ci_workflows.yml
Labels: maintenance

#955 Remove numexpr optimizations
  doc/install.rst
  doc/optimizing.rst
  ginga/trcalc.py
Labels: documentation, maintenance

#964 Replace pkg_resources
  ginga/__init__.py
  ginga/misc/__init__.py
  ginga/qtw/__init__.py
  ginga/rv/main.py
  ginga/rv/plugins/__init__.py
  setup.cfg
Labels: needs testing, reference viewer

#956 Remove support for OpenCL
  doc/install.rst
  doc/optimizing.rst
  ginga/examples/gtk3/example2.py
  ginga/examples/gw/example2.py
  ginga/examples/pg/example2_pg.py
  ginga/examples/qt/example2_qt.py
  ginga/examples/qt/example_asdf.py
  ginga/opencl/CL.py
  ginga/opencl/__init__.py
  ginga/opencl/trcalc.cl
  ginga/rv/main.py
  ginga/trcalc.py
  setup.cfg
Labels: documentation, maintenance, reference viewer, widget
