Repository ejeschke/ginga, pull requests merged in 2021-05, with the labels that each got.

#947 TST: Pin astropy in conda job
  .github/workflows/ci_workflows.yml
Labels: maintenance

#941 Add high performance interactive X/Y plot support
  doc/dev_manual/figures/plot_sine.png
  doc/dev_manual/figures/plot_time_series.png
  doc/dev_manual/index.rst
  doc/dev_manual/plots.rst
  doc/dev_manual/viewer.rst
  doc/quickref.rst
  ginga/canvas/types/plots.py
  ginga/examples/gw/plot_sine.py
  ginga/examples/gw/plot_time_series.py
  ginga/plot/__init__.py
  ginga/plot/data_source.py
  ginga/plot/plotaide.py
  ginga/plot/time_series.py
  ginga/tests/test_XYDataSource.py
  setup.py
Labels: Feature Request, enhancement, widget

#952 Modify Crosshair to contain the Cuts plot
  doc/WhatsNew.rst
  doc/index.rst
  doc/manual/plugins_local/crosshair.rst
  doc/manual/plugins_local/figures/crosshair-plugin.png
  doc/manual/plugins_local/figures/pick-candidates.png
  doc/manual/plugins_local/figures/pick-contour-no-candidate.png
  doc/manual/plugins_local/figures/pick-contour.png
  doc/manual/plugins_local/figures/pick-controls.png
  doc/manual/plugins_local/figures/pick-cutout.png
  doc/manual/plugins_local/figures/pick-cuts.png
  doc/manual/plugins_local/figures/pick-ee.png
  doc/manual/plugins_local/figures/pick-fwhm.png
  doc/manual/plugins_local/figures/pick-no-candidate.png
  doc/manual/plugins_local/figures/pick-radial.png
  doc/manual/plugins_local/figures/pick-readout.png
  doc/manual/plugins_local/figures/pick-report.png
  doc/manual/plugins_local/figures/pick-sc1.png
  doc/manual/plugins_local/figures/pick-settings.png
  ginga/canvas/types/plots.py
  ginga/examples/configs/plugin_Crosshair.cfg
  ginga/examples/configs/plugin_Pick.cfg
  ginga/gw/PluginManager.py
  ginga/rv/main.py
  ginga/rv/plugins/Crosshair.py
  ginga/rv/plugins/Pick.py
Labels: enhancement, plugin, reference viewer

#871 Fix Catalogs plugin for recent changes to astroquery
  doc/FAQ.rst
  doc/WhatsNew.rst
  doc/install.rst
  doc/manual/plugins_local/catalogs.rst
  doc/manual/plugins_local/figures/catalogs-post-catalog.png
  doc/manual/plugins_local/figures/catalogs-post-image.png
  ginga/examples/configs/plugin_Catalogs.cfg
  ginga/rv/plugins/Catalogs.py
  ginga/util/catalog.py
  setup.cfg
Labels: maintenance, plugin, reference viewer

#957 Clarify that opencv acceleration is used by default
  doc/install.rst
  doc/optimizing.rst
  ginga/examples/configs/general.cfg
  ginga/examples/gtk3/example2.py
  ginga/examples/gw/example1_video.py
  ginga/examples/pg/example2_pg.py
  ginga/examples/qt/example2_qt.py
  ginga/examples/qt/example_asdf.py
  ginga/rv/main.py
  ginga/trcalc.py
  ginga/web/pgw/ipg.py
Labels: documentation, maintenance, reference viewer, widget
