Repository ejeschke/ginga, pull requests merged in 2021-01, with the labels that each got.

#915 MNT: Add Python 3.9 to metadata
  setup.cfg
Labels: maintenance

#870 Increase visibility of Splitter handle
  doc/WhatsNew.rst
  ginga/gtk3w/GtkHelp.py
  ginga/gtk3w/ImageViewGtk.py
  ginga/gtk3w/Plot.py
  ginga/gtk3w/Widgets.py
  ginga/gw/Desktop.py
  ginga/gw/PluginManager.py
  ginga/icons/hdots.png
  ginga/icons/vdots.png
  ginga/qtw/ImageViewQt.py
  ginga/qtw/Widgets.py
  ginga/rv/plugins/Toolbar.py
Labels: enhancement, reference viewer

#916 MNT: Add auto PR labeler
  .github/labeler.yml
  .github/workflows/open_actions.yml
Labels: enhancement, maintenance

#919 Fixed Pick plugin to autozoom the pick and contour images
  doc/WhatsNew.rst
  ginga/rv/plugins/Pick.py
Labels: plugin, reference viewer

#923 MNT: Compat with astropy 4.3
  ginga/doc/download_doc.py
  ginga/util/toolbox.py
Labels: documentation, maintenance

#926 Fixes for Gtk Splitter widget
  ginga/gtk3w/GtkHelp.py
  ginga/gtk3w/Widgets.py
  ginga/qtw/Widgets.py
  ginga/web/pgw/Widgets.py
Labels: widget
