Repository ejeschke/ginga, pull requests merged in 2022-12, with the labels that each got.

#1032 TST: Workflow to test pre-releases
  .github/workflows/predeps_workflow.yml
Labels: maintenance

#1036 Fix a DeprecationWarning related to entry points in Python 3.11+
  doc/WhatsNew.rst
  ginga/modes/modeinfo.py
  ginga/rv/main.py
  ginga/util/compat.py
Labels: reference viewer, documentation

#1017 Make loaders discoverable via entry points
  doc/WhatsNew.rst
  doc/dev_manual/code/io_hdf5.py
  doc/dev_manual/internals.rst
  ginga/AstroImage.py
  ginga/RGBImage.py
  ginga/examples/configs/mime.types
  ginga/rv/Control.py
  ginga/rv/main.py
  ginga/rv/plugins/Collage.py
  ginga/rv/plugins/Mosaic.py
  ginga/rv/plugins/ScreenShot.py
  ginga/rv/plugins/Thumbs.py
  ginga/table/AstroTable.py
  ginga/util/colorramp.py
  ginga/util/io/io_asdf.py
  ginga/util/io/io_fits.py
  ginga/util/io/io_rgb.py
  ginga/util/io_fits.py
  ginga/util/io_rgb.py
  ginga/util/iohelper.py
  ginga/util/loader.py
  ginga/util/mosaic.py
  ginga/util/paths.py
  ginga/web/pgw/PgHelp.py
  setup.cfg
Labels: enhancement, reference viewer, plugin, maintenance, widget

#1037 Fix DeprecationWarning when getting tornado ioloop
  doc/WhatsNew.rst
  ginga/util/evloop.py
  ginga/web/jupyterw/JpHelp.py
  ginga/web/pgw/PgHelp.py
Labels: documentation, widget

#1039 Change implementation of splash ("About") dialog
  doc/WhatsNew.rst
  ginga/rv/Control.py
  ginga/rv/main.py
Labels: enhancement, reference viewer, documentation
