Repository ejeschke/ginga, pull requests merged in 2022-08, with the labels that each got.

#1013 Fixed a longstanding issue for event handling on a ginga canvas
  doc/WhatsNew.rst
  ginga/Bindings.py
  ginga/ImageView.py
  ginga/canvas/CanvasObject.py
  ginga/examples/gw/widgets.py
  ginga/gw/GwMain.py
  ginga/misc/Bunch.py
  ginga/rv/Control.py
  ginga/rv/plugins/Cuts.py
Labels: enhancement, reference viewer, needs testing, documentation, plugin

#973 Remove the combination Viewer and Canvas
  doc/dev_manual/canvas.rst
  doc/dev_manual/internals.rst
  ginga/AutoCuts.py
  ginga/ImageView.py
  ginga/aggw/ImageViewCanvasAgg.py
  ginga/cvw/ImageViewCanvasCv.py
  ginga/examples/gtk3/example1.py
  ginga/examples/gtk3/example2.py
  ginga/examples/gw/shared_canvas.py
  ginga/examples/matplotlib/example1_mpl.py
  ginga/examples/matplotlib/example2_mpl.py
  ginga/examples/matplotlib/example3_mpl.py
  ginga/examples/matplotlib/example4_mpl.py
  ginga/examples/matplotlib/example5_mpl.py
  ginga/examples/qt/example2_qt.py
  ginga/examples/tk/example2_tk.py
  ginga/gtk3w/ImageViewCanvasGtk.py
  ginga/gtk3w/Viewers.py
  ginga/mplw/ImageViewCanvasMpl.py
  ginga/qtw/ImageViewCanvasQt.py
  ginga/qtw/Viewers.py
  ginga/rv/Control.py
  ginga/tkw/ImageViewTk.py
  ginga/web/pgw/ImageViewPg.py
  ginga/web/pgw/Viewers.py
Labels: reference viewer, widget

#1016 Simplify the Pick plugin
  doc/WhatsNew.rst
  ginga/examples/configs/plugin_Pick.cfg
  ginga/rv/plugins/Pick.py
Labels: reference viewer, plugin

#1018 Add a new Ginga SVG icon
  ginga.desktop
  ginga/gtk3w/GtkHelp.py
  ginga/gtk3w/Widgets.py
  ginga/icons/Ginga.icns
  ginga/icons/ginga.svg
  ginga/qtw/Widgets.py
  mkapp/Ginga.icns
Labels: enhancement

#996 Remove camel-case deprecated calls
  doc/WhatsNew.rst
  ginga/AstroImage.py
  ginga/AutoCuts.py
  ginga/ImageView.py
  ginga/Mixins.py
  ginga/canvas/CanvasMixin.py
  ginga/canvas/CanvasObject.py
  ginga/canvas/CompoundMixin.py
  ginga/canvas/DrawingMixin.py
  ginga/canvas/coordmap.py
  ginga/gw/PluginManager.py
  ginga/misc/CanvasTypes.py
  ginga/misc/ModuleManager.py
  ginga/misc/Settings.py
  ginga/rv/Control.py
  ginga/rv/main.py
  ginga/table/TableView.py
  ginga/util/catalog.py
  ginga/util/io_fits.py
  ginga/util/iqcalc.py
  ginga/util/wcs.py
  ginga/web/pgw/ipg.py
Labels: reference viewer, widget

#1021 DOC: Only build HTML on RTD
  .readthedocs.yml
Labels: documentation
