Repository ejeschke/ginga, pull requests merged in 2022-11, with the labels that each got.

#1029 TST: Update to setup-python v4
  .github/workflows/ci_workflows.yml
  setup.cfg
Labels: maintenance

#984 Refactor modes into separate modules
  doc/WhatsNew.rst
  doc/dev_manual/index.rst
  doc/dev_manual/modes.rst
  doc/index.rst
  doc/manual/concepts.rst
  doc/manual/index.rst
  doc/manual/modes.rst
  doc/quickref.rst
  doc/ref_api.rst
  ginga/Bindings.py
  ginga/ImageView.py
  ginga/examples/gl/example_wireframe.py
  ginga/examples/gw/example2.py
  ginga/examples/matplotlib/example2_mpl.py
  ginga/examples/tk/example2_tk.py
  ginga/gtk3w/ImageViewGtk.py
  ginga/misc/Callback.py
  ginga/modes/__init__.py
  ginga/modes/camera.py
  ginga/modes/cmap.py
  ginga/modes/contrast.py
  ginga/modes/cuts.py
  ginga/modes/dist.py
  ginga/modes/draw.py
  ginga/modes/freepan.py
  ginga/modes/meta.py
  ginga/modes/mode_base.py
  ginga/modes/modeinfo.py
  ginga/modes/naxis.py
  ginga/modes/pan.py
  ginga/modes/rotate.py
  ginga/mplw/transform.py
  ginga/plot/plotaide.py
  ginga/qtw/ImageViewQt.py
  ginga/rv/Control.py
  ginga/rv/plugins/Pan.py
  ginga/rv/plugins/Toolbar.py
  ginga/rv/rvmode.py
  ginga/tkw/ImageViewTk.py
  ginga/web/jupyterw/ImageViewJpw.py
  setup.cfg
Labels: enhancement, reference viewer, needs testing, documentation, plugin, widget

#1031 Enhancements to the Pipeline plugin (not yet enabled by default)
  ginga/rv/plugins/Pipeline.py
  ginga/util/action.py
  ginga/util/pipeline.py
  ginga/util/stages/base.py
  ginga/util/stages/chmix.py
  ginga/util/stages/crop.py
  ginga/util/stages/cuts.py
  ginga/util/stages/flipswap.py
  ginga/util/stages/iccprof.py
  ginga/util/stages/input.py
  ginga/util/stages/output.py
  ginga/util/stages/preview.py
  ginga/util/stages/render.py
  ginga/util/stages/rgbmap.py
  ginga/util/stages/rotate.py
  ginga/util/stages/scale.py
  ginga/util/stages/sharpen.py
  ginga/util/stages/whbal.py
Labels: reference viewer, plugin
