Repository ejeschke/ginga, pull requests merged in 2023-09, with the labels that each got.

#1067 Fix RTD
  .readthedocs.yml
Labels: documentation, maintenance

#1066 Add a confirmation dialog when the reference viewer is closed
  doc/WhatsNew.rst
  ginga/examples/configs/general.cfg
  ginga/gtk3w/Widgets.py
  ginga/qtw/Widgets.py
  ginga/rv/Control.py
  ginga/web/pgw/Widgets.py
Labels: enhancement, reference viewer, documentation, widget, Feature Request

#1070 Fix RTD build in v4.1.x
  setup.cfg
Labels: bug, maintenance

#1073 TST: Use tox for CI
  .github/workflows/ci_workflows.yml
  .github/workflows/predeps_workflow.yml
  conftest.py
  setup.cfg
  tox.ini
Labels: maintenance

#1074 TST: Use Python 3.12 with devdeps
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: maintenance
