Repository ejeschke/ginga, pull requests merged in 2023-08, with the labels that each got.

#1063 Fix readthedocs build due to sphinx incompatibility with RTD theme
  setup.cfg
Labels: documentation, maintenance

#1065 Increase configurability of ReferenceViewer start up
  ginga/rv/Control.py
  ginga/rv/main.py
Labels: enhancement, reference viewer

#1064 Feature vizier catalogs
  doc/WhatsNew.rst
  ginga/rv/plugins/Catalogs.py
  ginga/util/catalog.py
Labels: enhancement, reference viewer, plugin
