Repository ejeschke/ginga, pull requests merged in 2024-02, with the labels that each got.

#1085 Add a PluginConfig plugin (UI to manage other plugins)
  doc/WhatsNew.rst
  doc/dev_manual/modes.rst
  doc/manual/customizing.rst
  doc/manual/plugins.rst
  doc/manual/plugins_global/figures/pluginconfig-plugin.png
  doc/manual/plugins_global/pluginconfig.rst
  doc/ref_api.rst
  ginga/examples/configs/general.cfg
  ginga/examples/layouts/README.md
  ginga/examples/layouts/ds9ish/bindings.cfg
  ginga/examples/layouts/ds9ish/general.cfg
  ginga/examples/layouts/ds9ish/layout
  ginga/examples/layouts/ds9ish/layout.json
  ginga/examples/layouts/ds9ish/plugins.json
  ginga/examples/layouts/ds9ish/plugins.yml
  ginga/examples/layouts/ds9ish/screenshot.png
  ginga/examples/layouts/standard/bindings.cfg
  ginga/examples/layouts/standard/general.cfg
  ginga/examples/layouts/standard/layout
  ginga/examples/layouts/standard/layout.json
  ginga/examples/layouts/standard/plugins.json
  ginga/examples/layouts/standard/plugins.yml
  ginga/examples/layouts/standard/screenshot.png
  ginga/examples/layouts/twofer/general.cfg
  ginga/examples/layouts/twofer/plugins.json
  ginga/examples/layouts/twofer/plugins.yml
  ginga/examples/layouts/twofer/screenshot.png
  ginga/gw/Desktop.py
  ginga/gw/PluginManager.py
  ginga/rv/Control.py
  ginga/rv/main.py
  ginga/rv/plugins/LoaderConfig.py
  ginga/rv/plugins/Operations.py
  ginga/rv/plugins/PluginConfig.py
  setup.cfg
Labels: enhancement, reference viewer, documentation, plugin, maintenance, widget

#1084 Fix problems with the built in help system
  doc/WhatsNew.rst
  doc/manual/plugins.rst
  doc/manual/plugins_global/wbrowser.rst
  ginga/GingaPlugin.py
  ginga/doc/download_doc.py
  ginga/examples/configs/plugin_WBrowser.cfg
  ginga/gtk3w/Widgets.py
  ginga/qtw/QtHelp.py
  ginga/qtw/Widgets.py
  ginga/rv/Control.py
  ginga/rv/plugins/WBrowser.py
  ginga/web/pgw/Widgets.py
  setup.cfg
Labels: bug, reference viewer, documentation, plugin, widget

#1089 Unleash dependabot
  .github/dependabot.yml
Labels: maintenance
